* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.lander {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
}

.header {
  margin: 3rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__image {
  align-self: center;
  width: 100px;
  height: 100px;
}

.header__title {
  text-align: center;
  font-size: 1.6rem;
  margin: 1rem 1rem 0rem 1rem;
}

.header__handle {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0rem 1rem 0rem 1rem;
}

.links {
  display: flex;
  height: 40%;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link__wrapper {
  width: 88%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
}

.links__button {
  width: 88%;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}
.widget {
  margin: 0rem 1rem 1.5rem 1rem;
}

.link-icon {
  padding-left: 0.5rem;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
